<link rel="stylesheet" type="text/css" href="css/home.css">
{{err}}
<div class="wrapper">
  <div class="container1">
    <h1>Welcome</h1>
    
    <form action="/login" method="post" class="form">
      <input type="text" name="username" autocomplete="off" placeholder="Username">
      <input type="password" name="password" autocomplete="off" placeholder="Password">
      <button type="submit" id="login-button">Login</button><br><br>
      <p style="text-align:center">Not a user?&nbsp; &nbsp; <a class="reglink" href="/register">Signup</a></p>
    </form>
  </div>
  
  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>