.centered {
  margin: 0 auto;
}

#content {
  height: calc(85vh - 100px);
  overflow-y: scroll;
}

#send-msg {
  /* height: 15vh; */
  border-radius: 20px;
  padding: 5px;
}

.profile{
  height: 100vh;
}

.profile .back {
  position: absolute;
  top: 0;
  height: 30vh;
  background-color: blueviolet;
}

.mdl-chip__action {
  width: 40px;
}

.msg .time {
  font-size: 0.7em;
}

.left {
  float: left;
}

.right {
  text-align: right;
}

.mdl-chip--contact {
  display: inline-block; 
  float: none;
}

#chat-msg {
  color:white;
  width: 70%;
  max-height: 10vh;
}

#chat-msg::placeholder {
  padding-left: 2px;
  color:rgba(255, 255, 255, 0.5);  
}

*:focus {
  outline: none;
}

.profile .back {
  color: brown;
  height: 20%;
}

#p2 {
  display: none;
}

.hide {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#img-upload {
  margin-left: 5px;
  padding: 3px;
  width: 30px;
  text-align: center;
  border-radius: 50%;
}

#img-upload .label {
  width: 100%;
}

.wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}